<%= form_with(model: Pedido.new, local: true) do |form| %>

  <div class="field">
    <%= form.label :entrada_id %>
    <%= form.text_field :entrada_id %>
  </div>

  <div class="field">
    <%= form.label :fondo_id %>
    <%= form.text_field :fondo_id %>
  </div>

  <div class="field">
    <%= form.label :bebida_id %>
    <%= form.text_field :bebida_id %>
  </div>

  <div class="field">
    <%= form.label :empleado_id %>
    <%= form.text_field :empleado_id %>
  </div>

  <div class="field">
    <%= form.label :mesa_id %>
    <%= form.text_field :mesa_id %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.number_field :estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
